################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SkinAssistance/v16
/packages/NLog.4.6.2
/SkinAssistance/bin/Debug
/SkinAssistance/obj/Debug
/SkinAssistance.Core/bin/Debug
/SkinAssistance.Core/obj/Debug
