<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="true" archiveAboveSize="6291456" maxArchiveFiles="640" enableFileDelete="true" openFileCacheTimeout="10"/>

    <target name="defaultlog" xsi:type="File" fileName="${basedir}/logs/${processname}/${processid}.${level}.${shortdate}.log"
            layout="${longdate} | Thread:${threadid} | ${message}" />

    <target name="errorlog" xsi:type="File" fileName="${basedir}/logs/${processname}/${processid}.${level}.${shortdate}.log"
            layout="${longdate} | Thread:${threadid}${newline}${message}${newline}"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="errorlog" />
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="defaultlog" />
  </rules>
</nlog>